fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
huggingface_hub
python-dotenv
gradio_client
python-multipart
Pillow
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlalchemy
prometheus-fastapi-instrumentator
